.mainDiv {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

body {
    background: linear-gradient(to right, dodgerblue, wheat, wheat, yellow);
}

img {
    min-height: 500px;
    min-width: 500px;
    max-width: 500px;
    max-height: 500px;
}

.form {
    padding: 10px;
}